*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    /* background-color: #e27979; */
}
#total{
    background-color: #f4ebdc;
}

nav{
    padding: 10px 100px 10PX 75PX;
}


#containar h1{
    font-weight: 900;
    text-wrap: wrap;
    font-size: 3rem;
}

#nav-center img{
    width: 70px;
    margin-left: 130px;
}
#nav-right{
    font-size: 0.8rem;
    gap: 30px;  
    width: fit-content;
}
.b-1{
    background-color: red;
    padding: 5px 5px;
    
}
.b-2{
    background-color: black;
    color: white;
}
.location{
    padding: 0px 90px;
}

.c-b-1{
    background-color: #eb2222;
    padding: 20px 50px;

}
#containar{
    display: flex;
}
#containar #left{
    width: 30%;
}
#containar-2{
    display:flex ;

}

@media (max-width:850px) {
    .b-2{
        display: none;
    }
    #left{
        font-size: 1rem;
        margin-top: 100px;
    }
   .c-b-1{
    padding: 10px 10px;
    font-size: 15px;
   }
   #containar{
    display: block;
    flex-wrap: wrap;
    /* background-color: #fff; */
   }

   #containar #left{
    /* padding: 100px 100px; */
    margin-bottom: 100px;
   }   
   #right img{
    margin-top: 100px;
   } 
   .b-1{
    padding: 7px 1px;
    font-size: 10px;
   }

#containar-2{
    display: block;
    width: 100%;
}
}